aiosmtplib
anyio
bcrypt
blinker
click
colorama
distlib
dnspython
email-validator
fastapi
fastapi-jwt-auth
fastapi-jwt-auth[asymmetric]
fastapi-mail
filelock
h11
idna
Jinja2
MarkupSafe
passlib
platformdirs
pycodestyle
pydantic
PyJWT
pymongo
python-decouple
python-dotenv
sniffio
starlette
typing_extensions
uvicorn
python-multipart
boto3